<!DOCTYPE html>
<html lang="ru">
<head>
<title>Регулярные перевозки ДНР - Украина через РФ, Донецк-Ростов, Донецк-Таганрог</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Регулярные перевозки ДНР-РФ, ДНР-Украина через РФ. Привозим в миграционную службу, пенсионный фонд, налоговую и другие учреждения, помогаем с оформлением соц. выплат и СНИЛС">
<meta name="Keywords" content="регулярные перевозки Донецк-Украина Донецк-Ростов, ежедневные поездки Макеевка-Украина, помощь с оформлением паспорта РФ"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.3.4/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.3.4/animate.css">
<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_wrap d-flex flex-row align-items-center justify-content-center">
			
			<!-- Logo -->
			<div class="logo"><a href="#"><img src="images/logo_1.png" alt=""></a></div>

			<!-- Main Nav -->
			<nav class="main_nav">
				<ul class="d-flex flex-row align-items-center justify-content-center">
					<li class="active"><a href="index.html">Главная</a></li>
					<li><a href="classes.html">направления</a></li>
					<li><a href="about.html">услуги</a></li>
					<li><a href="contact.html">контакты</a></li>
				</ul>
			</nav>

			<!-- Social -->
			<div class="social header_social">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#" class="white-text" aria-hidden="true">0715101559</a></li>
				</ul>
			</div>

			<!-- Hamburger -->
			<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

		</div>
	</header>

	<!-- Fixed Header -->

	<header class="fixed_header">
		<div class="header_wrap d-flex flex-row align-items-center justify-content-center">
			
			<!-- Logo -->
			<div class="logo"><a href="#"><img src="images/logo_2.png" alt=""></a></div>

			<!-- Main Nav -->
			<nav class="main_nav">
				<ul class="d-flex flex-row align-items-center justify-content-center">
					<li class="active"><a href="index.html">главная</a></li>
					<li><a href="classes.html">направления</a></li>
					<li><a href="about.html">услуги</a></li>
					<li><a href="contact.html">контакты</a></li>
				</ul>
			</nav>

			<!-- Social -->
			<div class="social header_social">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#" class="white-text" aria-hidden="true">0715101559</a></li>

				</ul>
			</div>

			<!-- Hamburger -->
			<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_door door_left"></div>
		<div class="menu_door door_right"></div>
		<div class="menu_content d-flex flex-column align-items-center justify-content-center">
			<div class="menu_close">Закрыть</div>
			<div class="menu_nav_container">
				<nav class="menu_nav text-center">
					<ul>
						<li><a href="index.html">главная</a></li>
						<li><a href="classes.html">направления</a></li>
						<li><a href="about.html">услуги</a></li>
						<li><a href="contact.html">контакты</a></li>

					</ul>
				</nav>
			</div>
			<div class="social menu_social">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#" class="white-text" aria-hidden="true">0715101559</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		
		<!-- Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slide -->
				<div class="slide">
					<div class="background_image" style="background-image:url(images/index.jpg)"></div>
					<div class="home_slider_overlay"></div>
					<div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
						<div class="home_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="home_content active">
											<div class="home_subtitle">регулярные</div>
											<div class="home_title">
												<h1><span>поездки</span> в</h1>
												<h1>рф и украину</h1>
											</div>
											<div class="button home_button " data-toggle="modal" data-target="#exampleModalCenter"><a href="#">забронировать</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="slide">
					<div class="background_image" style="background-image:url(images/index1.jpg)"></div>
					<div class="home_slider_overlay"></div>
					<div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
						<div class="home_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="home_content">
											<div class="home_subtitle">услуги</div>
											<div class="home_title">
												<h1><span>аренда</span> авто</h1>
												<h1>с водителем</h1>
											</div>
											<div class="button home_button"><a href="#" data-toggle="modal" data-target="#exampleModalCenter">забронировать</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="slide">
					<div class="background_image" style="background-image:url(images/index2.jpg)"></div>
					<div class="home_slider_overlay"></div>
					<div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
						<div class="home_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="home_content">
											<div class="home_subtitle">посещение</div>
											<div class="home_title">
												<h1><span>мфц</span> пфр, банк</h1>
												<h1>оформление соцвыплат</h1>
											</div>
											<div class="button home_button" data-toggle="modal" data-target="#exampleModalCenter"><a href="#">заказать</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="intro_boxes_wrap">
			<div class="d-flex flex-row align-items-start justify-content-start flex-wrap">
				
				<!-- Intro Box -->
				<div class="intro_box d-flex flex-column align-items-center justify-content-center text-center">
					<div class="intro_box_icon"><img src="images/icon_1.svg" alt=""></div>
					<div class="intro_box_title"><h3>100% безопасность</h3></div>
					<div class="intro_box_text">
						<p>Штат опытных и профессиональных водителей обеспечат вашу безопасность и сохранность ваших вещей.</p><p>Мы дорожим своим именем!</p>
					</div>
				</div>

				<!-- Intro Box -->
				<div class="intro_box d-flex flex-column align-items-center justify-content-center text-center">
					<div class="intro_box_icon"><img src="images/icon_2.svg" alt=""></div>
					<div class="intro_box_title"><h3>100% комфорт</h3></div>
					<div class="intro_box_text">
						<p>Наши автомобили - современные и удобные, наши водители - вежливые и надежные.</p><p>Мы беспокоимся о Вашем комфорте!</p>
					</div>
				</div>

				<!-- Intro Box -->
				<div class="intro_box d-flex flex-column align-items-center justify-content-center text-center">
					<div class="intro_box_icon"><img src="images/icon_3.svg" alt=""></div>
					<div class="intro_box_title"><h3>100% надежность</h3></div>
					<div class="intro_box_text">
						<p>Наши водители едут быстро, не отклоняясь от маршрута, проходят таможню по льготной очереди.</p><p>Мы ценим Ваше время!</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Pricing -->

	<div class="pricing">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/pricing.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">наши</div>
						<div class="section_title"><h1>направления</h1></div>
					</div>
					<div class="pricing_slider_container">
						<div class="owl-carousel owl-theme pricing_slider">

							<!-- Slide -->
							<div>
								<div class="pricing_box text-center">
									<div class="pricing_title_box">
										<div>
											<div class="pricing_name">Ежедневно</div>
											<div class="pricing_price">ХАРЬКОВ</div>
											<div class="pricing_per">Через РФ</div>
										</div>
									</div>
									<div class="pricing_content">
										<div class="pricing_list">
											<ul>
												<li>Отправление:</li>
												<li>из Донецка, Макеевки</li>
												<li>17 часов пути</li>
												<li>без пеших переходов</li>
												<li>без штрафов и обсервации</li>
											</ul>
										</div>
										<div class="pricing_info" title="Осуществляем перевозки в Украину через РФ без очередей, штрафов и обсервации."><a href="#">i</a></div>
										<div class="button pricing_button ml-auto mr-auto " data-toggle="modal" data-target="#exampleModalCenter"><a  href="#">забронировать</a></div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div>
								<div class="pricing_box text-center pricing_box_alt">
									<div class="pricing_title_box">
										<div>
											<div class="pricing_name">Ежедневно</div>
											<div class="pricing_price">КИЕВ</div>
											<div class="pricing_per">Через РФ</div>
										</div>
									</div>
									<div class="pricing_content">
										<div class="pricing_list">
											<ul>
												<li>Отправление:</li>
												<li>из Донецка, Макеевки</li>
												<li>20 часов пути</li>
												<li>без пеших переходов</li>
												<li>без штрафов и обсервации</li>
											</ul>
										</div>
										<div class="pricing_info" title="Осуществляем перевозки в Украину через РФ без очередей, штрафов и обсервации."><a href="#">i</a></div>
										<div class="button_2 pricing_button ml-auto mr-auto" data-toggle="modal" data-target="#exampleModalCenter"><a href="#">забронировать</a></div>
									</div>
								</div>
							</div>

							<!-- Slide -->

							<div>
								<div class="pricing_box text-center">
									<div class="pricing_title_box">
										<div>
											<div class="pricing_name">Ежедневно</div>
											<div class="pricing_price">ДНЕПР</div>
											<div class="pricing_per">Через РФ</div>
										</div>
									</div>
									<div class="pricing_content">
										<div class="pricing_list">
											<ul>
												<li>Отправление:</li>
												<li>из Донецка, Макеевки</li>
												<li>20 часов пути</li>
												<li>без пеших переходов</li>
												<li>без штрафов и обсервации</li>
											</ul>
										</div>
										<div class="pricing_info" title="Осуществляем перевозки в Украину через РФ без очередей, штрафов и обсервации."><a href="#">i</a></div>
										<div class="button pricing_button ml-auto mr-auto" data-toggle="modal" data-target="#exampleModalCenter"><a href="#">забронировать</a></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!--One more row-->
			<div class="row">
				<div class="col">

					<div class="pricing_slider_container">
						<div class="owl-carousel owl-theme pricing_slider">

							<!-- Slide -->
							<div>
								<div class="pricing_box text-center">
									<div class="pricing_title_box">
										<div>
											<div class="pricing_name">ежедневно</div>
											<div class="pricing_price">РОСТОВ </div>
											<div class="pricing_per">ЖД</div>
										</div>
									</div>
									<div class="pricing_content">
										<div class="pricing_list">
											<ul>
												<li>Отправление:</li>
												<li>из Донецка, Макеевки</li>
												<li>4 часа пути</li>
												<li>Посещение МФЦ, ПФР</li>
												<li>Оформление СНИЛС, соц. выплат</li>
												<li>без самоизоляции</li>
											</ul>
										</div>
										<div class="pricing_info" title="Осуществляем поездки в МФЦ, ПФР, Сбербанк, и др. для оформления СНИЛС, Короновирусных, Мат.капитала и т.д. Стоимость уточняйте у менеджера."><a href="#">i</a></div>
										<div class="button pricing_button ml-auto mr-auto" data-toggle="modal" data-target="#exampleModalCenter"><a href="#">забронировать</a></div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div>
								<div class="pricing_box text-center pricing_box_alt">
									<div class="pricing_title_box">
										<div>
											<div class="pricing_name">ежедневно</div>
											<div class="pricing_price">ТАГАНРОГ</div>
											<div class="pricing_per"></div>
										</div>
									</div>
									<div class="pricing_content">
										<div class="pricing_list">
											<ul>
												<li>Отправление:</li>
												<li>из Донецка, Макеевки</li>
												<li>4 часа пути</li>
												<li>Посещение МФЦ, ПФР</li>
												<li>Оформление СНИЛС, соц. выплат</li>
												<li>без самоизоляции</li>
											</ul>
										</div>
										<div class="pricing_info" title="Осуществляем поездки в МФЦ, ПФР, Сбербанк, и др. для оформления СНИЛС, Короновирусных, Мат.капитала и т.д. Стоимость уточняйте у менеджера."><a href="#">i</a></div>
										<div class="button_2 pricing_button ml-auto mr-auto" data-toggle="modal" data-target="#exampleModalCenter"><a href="#">забронировать</a></div>
									</div>
								</div>
							</div>

							<!-- Slide -->

							<div>
								<div class="pricing_box text-center">
									<div class="pricing_title_box">
										<div>
											<div class="pricing_name">ежедневно</div>
											<div class="pricing_price">РОСТОВ</div>
											<div class="pricing_per">АЭРОПОРТ</div>
										</div>
									</div>
									<div class="pricing_content">
										<div class="pricing_list">
											<ul>
												<li>Отправление:</li>
												<li>из Донецка, Макеевки</li>
												<li>4 часа пути</li>
												<li>Посещение МФЦ, ПФР</li>
												<li>Оформление СНИЛС, соц. выплат</li>
												<li>без самоизоляции</li>
											</ul>
										</div>
										<div class="pricing_info" title="Осуществляем поездки в МФЦ, ПФР, Сбербанк, и др. для оформления СНИЛС, Короновирусных, Мат.капитала и т.д. Стоимость уточняйте у менеджера."><a href="#">i</a></div>
										<div class="button pricing_button ml-auto mr-auto" data-toggle="modal" data-target="#exampleModalCenter"><a href="#">забронировать</a></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="button home_button justify-center"><a href="classes.html">все направления</a></div>
		</div>
	</div>
	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				
				<!-- About Content -->
				<div class="col-lg-8">
					<div class="about_content">
						<div class="section_title_container">
							<div class="section_subtitle">Вы спросите</div>
							<div class="section_title"><h1>Почему выбирают нас?</h1></div>
						</div>
						<div class="about_text">
							<p>Транспортная компания DRIVE DON осуществляет перевозки на территорию РФ и Украины на 6-местных и 8-местных автомобилях.
								Мы также оказываем услуги аренды транспорта с водителем, доставки до Миграционной службы для оформления паспорта РФ,
								налоговой инспекции, военкомата, почты, больниц,
								Пенсионного фонда для оформления соц. выплат, в том числе, коронавирусных, материнского капитала и т.д.
								Кроме того, мы охватываем все популярные направления, такие как:
								Ростов-на-Дону, Таганрог, Днепр, Запорожье, Киев, Харьков и многое другое.</p>
						</div>
						<div class="button about_button" data-toggle="modal" data-target="#exampleModalCenter"><a href="#">заказать поездку</a></div>
					</div>
				</div>

				<!-- About Image -->
				<div class="col-lg-4">
					<div class="about_image"><img src="images/about.png" alt=""></div>
				</div>

			</div>
		</div>
	</div>

	<!-- Quote -->

	<div class="count">
		<div class="container">
			<div class="row">
				<div class="counter-box-container">
					<div class="col-md-4 col-sm-4 col-xs-12 col-2">
						<div class="counter-item">
							<b class="counter-up">5</b>
							<span>лет работы</span>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 col-2">
						<div class="counter-item">
							<b class="counter-up">9000</b>
							<span>довольных пассажиров</span>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 col-2">
						<div class="counter-item">
							<b class="counter-up">1500</b>
							<span>успешных перевозок</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CTA -->

	<div class="cta">
		<div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">

			<!-- CTA Image -->
			<div class="cta_image align-self-stretch">
				<div class="background_image" style="background-image:url(images/cta.jpg)"></div>
			</div>

			<!-- CTA Content -->
			<div class="cta_content">
				<div class="section_title_container">
					<div class="section_subtitle">пара слов </div>
					<div class="section_title"><h1>о наших преимуществах</h1></div>
				</div>
				<div class="cta_list">
					<ul>
						<li class="d-flex flex-row align-items-center justify-content-start">
							<img src="images/check.png" alt="">
							<span>Привозим в МФЦ, ПФР, Сбербанк, налоговую, военкомат и др. учреждения</span>
						</li>
						<li class="d-flex flex-row align-items-center justify-content-start">
							<img src="images/check.png" alt="">
							<span>Помогаем с оформлением СНИЛС, короновирусных выплат, материнским капиталом и т.д.</span>
						</li>
						<li class="d-flex flex-row align-items-center justify-content-start">
							<img src="images/check.png" alt="">
							<span>Забираем с адреса или удобного Вам места</span>
						</li>
						<li class="d-flex flex-row align-items-center justify-content-start">
							<img src="images/check.png" alt="">
							<span>Пассажиры не стоят в очереди на блокпостах и не совершают пешие переходы</span>
						</li>
					</ul>
				</div>
				<div class="cta_buttons">
					<div class="d-flex flex-row align-items-start justify-content-start flex-wrap">
						<div class="button cta_button" data-toggle="modal" data-target="#exampleModalCenter"><a href="#">заказать поездку</a></div>
						<!--<div class="button_2 cta_button"><a href="#">read more</a></div>-->
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Classes -->

	<div class="classes">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">НАСТОЯЩИЕ</div>
						<div class="section_title"><h1>ОТЗЫВЫ</h1></div>
					</div>

					<!-- Classes Slider -->
					<div class="classes_slider_container">
						<div class="owl-carousel owl-theme classes_slider">
							
							<!-- Slide -->
							<div>
								<div class="classes_slide_wrap">
									<div class="text-center">
										<div class="classes_title"><h3>Антон</h3></div>
										<div class="classes_text">
											<p>Водитель приехал вовремя и подождал, пока моя бабушка соберется и выйдет, ехал быстро. Я остался доволен поездкой, рекомендую! </p>
										</div>
										<div class="class_image"><a href="#"><img src="images/instructor_1.jpg" alt=""></a></div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div>
								<div class="classes_slide_wrap">
									<div class="text-center">
										<div class="classes_title"><h3>Оксана</h3></div>
										<div class="classes_text">
											<p>Отличные перевозчики! Водитель помог загрузить и выгрузить вещи, доставил раньше ожидаемого времени прибытия. Спасибо Вам!</p>
										</div>
										<div class="class_image"><a href="#"><img src="images/instructor_2.jpg" alt=""></a></div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div>
								<div class="classes_slide_wrap">
									<div class="text-center">
										<div class="classes_title"><h3>алина</h3></div>
										<div class="classes_text">
											<p>Спасибо Don-Drive и персонально Екатерине - очень доброжелательный диспетчер. Буду рекомендовать вас своим друзьям и знакомым!</p>
										</div>
										<div class="class_image"><a href="#"><img src="images/instructor_3.jpg" alt=""></a></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Footer -->

	<footer class="footer">
		<div class="footer_content">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_logo text-center"><a href="#"><img src="images/logo_3.png" alt=""></a></div>
					</div>
				</div>
				<div class="row footer_row">
					<div class="col-lg-4 footer_col">
						<div class="footer_item text-center">
							<div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div><img src="images/phone.png" alt=""></div>
							</div>
							<div class="footer_title">Позвоните нам</div>
							<div class="footer_list">
								<ul>
									<li>0715101559</li>
									<li>пн-пт. с 09:00 до 18:00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 footer_col">
						<div class="footer_item text-center">
							<div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div><img src="images/mail.png" alt=""></div>
							</div>
							<div class="footer_title">Напишите нам</div>
							<div class="footer_list">
								<ul>
									<li>perevozkirostov@mail.ua</li>

								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 footer_col">
						<div class="footer_item text-center">
							<div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div><img src="images/contact.png" alt=""></div>
							</div>
							<div class="footer_title">viber</div>
							<div class="footer_list">
								<ul>
									<li>0662719171</li>
									<li>пн-пт. с 09:00 до 18:00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bar d-flex flex-row align-items-center justify-content-center">
			<div class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены | Разработано с <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://sharpdesign.ru" target="_blank">SharpDesign</a>
</div>
		</div>
	</footer>


	<!-- Button trigger modal -->

	<!-- Modal -->
	<form class="needs-validation" action="mail.php" method="post" name="form-2" novalidate>
	<div class="modal fade" id="exampleModalCenter"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Забронировать поездку</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="modal-content-box">

						<div class="form-grid">



								<div class="form-group">
									<span class="add-on"><i class="icon-user"></i></span>
									<input class="input-medium focused form-control" name="name2" type="text" placeholder="Фамилия Имя Отчество">
								</div>
								<div class="form-group">
									<span class="add-on"><i class="icon-book"></i></span>
									<input class="input-medium focused form-control phonemask" name="tell2" type="text" placeholder="Ваш телефон">
								</div>

								<div class="form-inline">
									<div class="form-group">
										<input type="text" class="input-medium focused form-control" id="inputFrom2" name="startTown2" placeholder="Откуда">
									</div>
									<div class="form-group">
										<input type="text" class="input-medium focused form-control" id="inputTo2" name="endTown2" placeholder="Куда">
									</div>
								</div>
								<div class="form-inline">
									<div class="form-group">

										<div class="elegant-calencar">

											<p id="reset">Сброс</p>
											<div id="header" class="clearfix">

												<div class="pre-button"><</div>

												<div class="head-info">
													<div class="head-day"></div>
													<div class="head-month"></div>
												</div>
												<div class="next-button">></div>
											</div>
											<table id="calendar">
												<thead>
												<tr>
													<th>Вс</th>
													<th>Пн</th>
													<th>Вт</th>
													<th>Ср</th>
													<th>Чт</th>
													<th>Пт</th>
													<th>Сб</th>
												</tr>
												</thead>
												<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
								<div class="form-inline">
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<label class="input-group-text" for="numberOfSeats">Кол-во мест</label>
											</div>
											<select class="custom-select" name="numberOfSeats" id="numberOfSeats">
												<option selected>1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<label class="input-group-text" for="typeOfTransport">Тип транспорта</label>
											</div>
											<select class="custom-select" name="typeOfTransport" id="typeOfTransport">
												<option value="6-местный" selected>6-местный</option>
												<option value="8-местный">8-местный</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<textarea name="comments2" class="input-medium focused form-control" id="textComment2" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
								</div>

								<div class="form-check form-group">
									<input class="form-check-input" type="checkbox" value="да" name="checkbox" id="invalidCheck2" required>
									<label class="form-check-label" for="invalidCheck2">
										Нажимая кнопку, я даю своё согласие на обработку моих персональных данных в соответствии с действующим законодательством.
									</label>
									<div class="invalid-feedback">
										Пожалуйста, заполните необходимые поля.
									</div>
								</div>


						</div>
					</div>
				</div>
				<textarea id="hiddencalendar" name="calendar"></textarea>
				<div class="modal-footer">
					<div class="form-group">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					</div>
					<div class="form-group">
						<input class="feedback btn btn-success modal_btn_short upixel__btn upixel__btn-order" id="submitModal" name="send" type="submit" value="Забронировать">
					</div>
				</div>
			</div>
		</div>
	</div>


</form>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/modal.js"></script>
<script src="js/library/calendar.js"></script>


<script>
    var done = false;
    function isScrolledIntoView(elem) {
        var $elem = $(elem);
        var $window = $(window);

        var docViewTop = $window.scrollTop();
        var docViewBottom = docViewTop + $window.height();

        var elemTop = $elem.offset().top;
        var elemBottom = elemTop + $elem.height();

        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
    }

    $(window).scroll(function() {

        if (isScrolledIntoView('.counter-up') && !done) {
            $('.counter-up').each(function () {
                $(this).prop('Counter',0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 3000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    },
                    complete: function() {
                        console.log($(this).text());
                        var text = $(this).text();
                        $(this).text(text + '+');
                    }
                });

            });
            done = true;
        }
    });


</script>
<script>
    var submitModal = document.querySelector('#submitModal');
    submitModal.onclick = function(e){
        //document.querySelector('#exampleModalCenter').style.display = "none";
		var hiddencalendar = document.querySelector("#hiddencalendar");
        hiddencalendar.value = document.querySelector('.head-day').innerHTML + " " + document.querySelector('.head-month').innerHTML;
        alert('Ваше сообщение отправлено администратору');
    }
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(67291945, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/67291945" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>