<section class="choose-beacons" onmousedown="return false" onselectstart="return false">


    <div class="container">

        <div class="col-md-12" >

            <h1>Choose beacons and fill in the order form?</h1>

        </div>
      <div class="col-md-16 row">
        <div class="col-md-3">
            <div class="choose-beacons__item">
                <h1>ASensor</h1>
                <div class="choose-beacons__item__img">
                    <img src="./style/images/item1.png" alt="">
                </div>
                <h3>$15</h3>
                <p>
                    ASensor is a BLE beacon with multiple advertising data formats. The BLE is a very low power 2.4G
                    radio that can transmit the beacon information efficiently. The typical beacon battery life is 1.5
                    year in default settings 3-Axis, 12-bit accelerometer magna aliqua.
                </p>
                <div class="wrapper-counter">
                    <div class="counter">
                        <a class="minus">
                            -
                        </a>
                        <input type="text" min="1" max="999" value="1" class="number js-product-quantity" data-type="single" maxlength="999" pattern="[0-9]{3}">

                        <a class="plus">
                            +
                        </a>

                    </div>
                    <span>шт.</span>
                </div>
                <button>buy now</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="choose-beacons__item">
                <h1>ARM Cortex - M0</h1>
                <div class="choose-beacons__item__img">
                    <img src="./style/images/item2.png" alt="">
                </div>
                <h3>$13</h3>
                <p>
                    ARM Cortex - M0 32-bit processor
                    Dialog solution, long battery life
                    Support Bluetooth Smart 4.0
                    Builtin 1 x CR2450 battery holder Temperature sensor for environment monitoring Configurable by App
                    AprilBeacon
                </p>
                <div class="wrapper-counter">
                    <div class="counter">
                        <a class="minus">
                            -
                        </a>
                        <input type="text" min="1" max="999" value="1" class="number js-product-quantity" data-type="single" maxlength="999" pattern="[0-9]{3}">

                        <a class="plus">
                            +
                        </a>

                    </div>
                    <span>шт.</span>
                </div>
                <button>buy now</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="choose-beacons__item">
                <h1>
                    Estimote Proximity
                    Beacons
                </h1>
                <div class="choose-beacons__item__img">
                    <img src="./style/images/item3.png" alt="">
                </div>
                <h3>$25</h3>
                <p>
                   Estimote Proximity Beacons lifetime: 2 years range: up to 70 m packets: iBeacon™ or Eddystone™ features: motion & temperature sensor, NFC
                </p>
                <div class="wrapper-counter">
                    <div class="counter">
                        <a class="minus">
                            -
                        </a>
                        <input type="text" min="1" max="999" value="1" class="number js-product-quantity" data-type="single" maxlength="999" pattern="[0-9]{3}">

                        <a class="plus">
                            +
                        </a>

                    </div>
                    <span>шт.</span>
                </div>
                <button>buy now</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="choose-beacons__item">
                <h1>Aprilbeacon 227L
                    (150M Range)
                </h1>
                <div class="choose-beacons__item__img">
                    <img src="./style/images/item4.png" alt="">
                </div>
                <h3>$30</h3>
                <p>
                    Aprilbeacon 227L (150M Range)
                    iBeacon size: 66mm*36mm*22mm
                    Default frequency: 900ms
                    Setting frequency: 100ms or more
                    System: IOS 7.0, Android 4.3
                    Color: green iBeacon + white case
                </p>
                <div class="wrapper-counter">
                    <div class="counter">
                        <a class="minus">
                            -
                        </a>
                        <input type="text" min="1" max="999" value="1" class="number js-product-quantity" data-type="single" maxlength="999" pattern="[0-9]{3}">

                        <a class="plus">
                            +
                        </a>

                    </div>
                    <span>шт.</span>
                </div>
                <button>buy now</button>
            </div>
        </div>
      </div>
    </div>

</section>
