<body>
  <header>
    <div class="container">
        <a href="#menu" class="hidden__menu">
            <span></span>
        </a>
       <div class="col-md-12">
            <ul class="topmenu">
                <li><a href="#">HOME</a></li>
                <li><a href="#" class="active">ORDER SERVICES</a></li>
                <li><a href="#">BEAKON MARKETING</a></li>
            </ul>
         <div class="col-md-6">
           <div class="header__img">
                <img src="./style/images/promo.png" alt="">
            </div>
         </div>
         <div class="col-md-6 header__text">
            <h1>
                Discount for Services
            </h1>
            <h4>Our advertisement services cost $10 per beacon per month, and we offer wholesale
                discounts:
            </h4>
            <p>
                Free installation of the beacons is also an option, but then their marketing capabilities will be used
                by third parties also. How to Get Connected To get connected to our service or find out more
                information, please call us at (844)-295-0900 or purchase our service through our site at
                https://fdh.cloud/order/services
            </p>
         </div>
      </div>    
    </div>
  </header>
  