  
 
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    SUPPORT:(844) 295-0900
                </h1>
            </div>
            <div class="col-md-12">
                <h2>support@frontdeskhelpers.com</h2>
            </div>
            <div class="col-md-12  footer__social" >
                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>

                <a href="#">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>

                <a href="#">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>

                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-md-12 text-center footer__link">
                <a href="#">Privacy Policy </a>
                <a href="#">Terms of Service </a>
                <a href="#">Terms of Sales</a>
            </div>
            <div class="col-md-12 text-center footer__fdh">
                <h1>© 2017 FDH Cloud</h1>
            </div>
        </div>
    </div>
    <div class="hand">
        <img src="./style/images/hand.png" alt="hand, wave">
    </div>
</footer> 
