<section class="steps">
    <div class="beacon_right">
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1>A couple of steps to make your store popular</h1>
            </div>
            <div class="col-md-3 hidden-xs"></div>
            <div class="col-md-2 col-xs-4 col-sm-4">
                <p class="active couple__step">
                    Step 1
                </p>
            </div>
            <div class="col-md-2 col-xs-4 col-sm-4">
                <p class="couple__step">
                    Step 2
                </p>
            </div>
            <div class="col-md-2 col-xs-4 col-sm-4">
                <p class="couple__step">
                    Step 3
                </p>
            </div>
            <div class="col-md-3 hidden-xs"></div>
           <div class="clearfix"></div>
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <p class="steps__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              </p>
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-12">
                <form class="step-form">

                    <input type="text" name="First Name" placeholder="Enter First Name" id = "firstName" required>
                    <input type="text" name="Last Name" placeholder="Enter Last Name" id = "lastName" required>
                    <input type="email" name="Enter Email" placeholder="Enter Email" id = "email" required>

                    <button>next</button>

                </form>

            </div>
        </div>

    </div>

</section>
